
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans 3", sans-serif;
}

/* ============== Header ============== */

.nav-icon{
    padding: 15px 20px;
    background: rgba(0, 0, 0, 0.395);
    position: fixed;
    top: 15px;
    right: 15px;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}

.nav-icon:hover{
    background: rgba(0, 0, 0, 0.85);
}

.nav-icon i{
    color: white;
    font-size: 15px;
}

header{
    background-image: url(	https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/bg-masthead.jpg);
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header .header-box h1{
    font-size: 88px;
}

header .header-box h3{
    font-size: 27px;
    margin-bottom: 70px;
}

header .header-box a{
    font-size: 16px;
    padding: 20px 40px;
    border-radius: 5px;
    background-color: #1D809F;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

header .header-box a:hover{
    background-color: #196d87;
}

/* ============== Header ============== */
/* ============== Section ============== */

.section-content{
    padding: 100px 0;
    text-align: center;
}

.section-content h2{
    font-size: 30px;
    margin-bottom: 20px;

}

.section-content p{
    font-size: 20px;
    margin-bottom: 70px;

}

.section-content .content-btn{
    font-size: 16px;
    padding: 20px 40px;
    color: white;
    border-radius: 5px;
    background-color: black;
    transition: 0.3s;
    text-decoration: none;

}

.section-content .content-btn:hover{
    background-color: rgb(47, 47, 47);
}

.section-offer{
    padding: 100px 0;
    text-align: center;
    background-color: #1D809F;
}

.section-offer h6{
    font-size: 16px;
    color: #ecb807;
}

.section-offer h2{
    font-size: 48px;
    color: white;
    margin-bottom: 48px;
}

.section-icons{
    display: flex;
    justify-content: center;
}

.section-icons .icons-box{
    padding: 0 24px;
}

.section-icons .icons-box .icons{
    font-size: 40px;
    width: 112px;
    height: 112px;
    background-color: white;
    line-height: 112px;
    color: #1D809F;
    margin: 0 34px 16px;
    border-radius: 50%;
}

.section-icons .icons-box h5{
    font-size: 23px;
    margin-bottom: 8px;
    color: white;
}

.section-icons .icons-box p{
    font-size: 16px;
    color: #FFFFFFB3;
}

#icon-p{
    font-size: 16px;
    color: #FFFFFFB3;
    width: none;
    height: none;
    background: none;

}

.section-callout{
    padding: 240px 0;
    text-align: center;
    background-image: url(../img/bg-callout.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-callout h2{
    font-size: 56px;
    margin-bottom: 48px;
}

.section-callout a{
    font-size: 16px;
    padding: 20px 40px;
    border-radius: 5px;
    background-color: #1D809F;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.section-callout a:hover{
    background-color: #196d87;
}

.section-project{

    padding: 120px 0;
    text-align: center;
}

.section-project h6{
    font-size: 16px;
    color: #ecb807;
}

.section-project h2{
    font-size: 48px;
    margin-bottom: 48px;
}

.caption-box{
    padding: 0 48px;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}

.caption-box .caption{
    width: 50%;
    position: relative;
    transition: 0.3s;
    transition: clip-path 0.25s ease-out, background-color 0.7s, -webkit-clip-path 0.25s ease-out;
    clip-path: inset(0px);

}

.caption-box .caption:hover{
    clip-path: inset(30px);
}


.caption-box .caption .caption-items:hover{
    background: #1d819fc4;
}


.caption-box .caption img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

}

.caption-box .caption .caption-items{
    padding: 200px 80px 80px;
    background: rgba(0, 0, 0, 0.177);
    z-index: 1;
    width: 100%;
    height: 100%;
}

.caption-box .caption .caption-items h5{
    font-size: 13px;
    margin-bottom: 8px;
    color:white;
    text-align: left;
}

.caption-box .caption .caption-items p{
    font-size: 19px;
    color:white;
    text-align: left;
}

.section-buttons{
    padding: 120px 0;
    background-color: #1D809F;
    text-align: center;
}

.section-buttons h2{
    color: white;
    margin-bottom: 40px;
    font-size: 31px;
}

.section-buttons a:nth-child(2){
    padding: 20px 40px;
    color: black;
    background-color: white;
    font-size: 16px;
    margin-right: 24px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;

}

.section-buttons a:nth-child(2):hover{
    background-color: #d3d4d5;
}

.section-buttons a:nth-child(3){
    padding: 20px 40px;
    color: white;
    background-color: black;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;

}

.section-buttons a:nth-child(3):hover{
    background-color: #424649;
}

.map{
    height: 480px;
}

.map iframe{
    width: 100%;
    height: 100%;
}

/* ============== Section ============== */
/* ============== Footer ============== */

footer{
    padding: 80px 0;
    text-align: center;
}

footer p{
    font-size: 14px;
    color: #6c757d;
}

footer .icon-list{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 48px;
}

footer .icon-list a{
    display: inline-block;
}

footer .icon-list i{
    width: 64px;
    height: 64px;
    line-height: 64px;
    background-color: #1D809F;
    color: white;
    font-size: 25px;
    border-radius: 50%;
    transition: 0.3s;
}

footer .icon-list i:hover{
    background-color: #196d87;
}

/* ============== Footer ============== */